body {
    font-family: "Urbanist";
    background-color: black;
    color: white;
}

header {
    width: 100%;
    height: 250px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    text-align: center;
}

.logo img {
    max-width: 200px;
    margin-right: 25%;
    float: left;
}

.logo h1 {
    font-size: 90px;
    float: left;
}

nav {
    width: auto;
    background-color: #fc49ae;
    margin-bottom: 20px;
    font-size: 200%;
    font-family: "Urbanist";
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 9px 10px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #ba046b;
}

a{
    text-decoration: none;
    color: white;
}

main {
    background-color: black;
    color: white;
}

h2 {
    font-weight: 400;
    text-decoration: underline;
}

.bienvenidos {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}
.bienvenidos p{
    font-size: 110%;
}

.contacto {
    width: 70%;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.carousel-inner {
    width: 1000px;
    height: 1000px;
}

footer {
    background-color: #ccc;
    font-family: "Urbanist";
    color: black;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}
 .reme {
    size-adjust: 10%;

 }